* {
margin: 0;
padding:0;
box-sizing: border-box;
}

.navbar {
display: flex;
align-items: center;
padding: 20px;
}

nav {
flex: 1;
text-align:center;
}

nav ul {
display: inline-block;
list-style-type: none;
}

nav ul li {
display: inline-block;
padding: 10px 10px;
margin-right: 20px;
color: chocolate;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
}

nav ul li {
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(155, 133, 8);
    position: relative;
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ee6f5e;
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  





a {

    text-decoration: none;
    color: rgb(155, 133, 8);
}

h1 {
    display:flex;
    align-items: center;
    color: rgb(223, 5, 5);
    text-transform: uppercase;
    font-size: 70px;
}

h2 {
    display:flex;
    color: #696767;
    text-align:justify;
    font-style: oblique;
    font-size: 20px;
   
}

header {
    display:flex;
    align-items: center;
    background: rgb(255, 250, 242);
    margin: 20px;
    padding: 10px 10px;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 500';
    src: url('FMBolyarSansPro-500.eot');
    src: local('FMBolyar Sans Pro 500'), local('FMBolyarSansPro-500'),
        url('FMBolyarSansPro-500.eot?#iefix') format('embedded-opentype'),
        url('FMBolyarSansPro-500.woff2') format('woff2'),
        url('FMBolyarSansPro-500.woff') format('woff'),
        url('FMBolyarSansPro-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1, h2 {
    font-family: 'FMBoylar Sans Pro-500', sans-serif;
    font-weight: 500; 
    
}


body {
    font-family: 'Boylar Sans Pro', sans-serif;
}

header img {
display: flex;
align-items: center;
justify-content: space-between;
margin: 20px;
padding:10px 10px;
}
.container {
max-width: 1500px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}

.row {
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content:space-around;
padding: 10px 5px;
}

.row p{
padding: 10px 5px;
margin: 10px 10px;
font-size: 20px;
}
.col {
flex-basis: 50%;
min-width: 100px;
}

.col img {
    max-width: 100%;
    padding: 50px 10px;
}

.row h3 {
font-size: 40px;
line-height: 40px;
margin-top: 25px;
font-weight: bolder;
}

@font-face {
    font-family: 'FMBolyar Sans Pro 200';
    src: url('FMBolyarSansPro-200.eot');
    src: local('FMBolyar Sans Pro 200'), local('FMBolyarSansPro-200'),
        url('FMBolyarSansPro-200.eot?#iefix') format('embedded-opentype'),
        url('FMBolyarSansPro-200.woff2') format('woff2'),
        url('FMBolyarSansPro-200.woff') format('woff'),
        url('FMBolyarSansPro-200.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h3, p {
    font-family: 'FMBoylar Sans Pro-500', sans-serif;
    font-weight: 200; 
}

@media (max-width: 768px) {
    h1, h2 {
        font-family: 'FMBoylar Sans Pro-500';
    }
}







.btn1 {
display: inline-block;
background: #ee6f5e;
color: #fff;
padding: 8px 30px;
margin: 30px 0;
border-radius: 50px;
}

.btn {
    display: inline-block;
    align-items: center;
    background: #696767;
    color: #fff;
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 50px;
}

body {
background-color: rgb(245, 233, 218);
}

footer p {
font-family:Arial, Helvetica, sans-serif;
font-weight: 200;
}

footer li {
    display: inline-block;
    padding: 10px 10px;
    margin-right: 20px;
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

